script(type='text/javascript', src='socket.io/socket.io.js')
script(type='text/javascript', src='javascripts/sketch.js')
div(id='connectId')
canvas(id='canvas')
div(id='tools')
  div(id='colors')
    div(class='color', style='background:#FFFFFF')
    div(class='color', style='background:#DCDDDD')
    div(class='color', style='background:#9ea1a3')
    div(class='color', style='background:#2B2B2B')
    div(class='color', style='background:#D9333F')
    div(class='color', style='background:#762f07')
    div(class='color', style='background:#F5B199')
    div(class='color', style='background:#FFDB4F')
    div(class='color', style='background:#7EBEAB')
    div(class='color', style='background:#2F5D50')
    div(class='color', style='background:#89C3EB')
    div(class='color', style='background:#706CAA')
