script(type='text/javascript', src='socket.io/socket.io.js')
script(type='text/javascript', src='javascripts/sketch.js')
div(id='connectId')
canvas(id='canvas_others')
canvas(id='canvas_mine')
div(id='tools')
  div(id='colors')
    div(class='color', style='background:rgba(255,255,255,1)')
    div(class='color', style='background:rgba(220,221,221,1)')
    div(class='color', style='background:rgba(158, 161, 163, 1)')
    div(class='color', style='background:rgba(43, 43, 43, 1)')
    div(class='color', style='background:rgba(217, 51, 63, 1)')
    div(class='color', style='background:rgba(118, 47, 7, 1)')
    div(class='color', style='background:rgba(245, 177, 153, 1)')
    div(class='color', style='background:rgba(255, 219, 79, 1)')
    div(class='color', style='background:rgba(126, 190, 171, 1)')
    div(class='color', style='background:rgba(47, 93, 80, 1)')
    div(class='color', style='background:rgba(137, 195, 235, 1)')
    div(class='color', style='background:rgba(112, 108, 170, 1)')
  div(id='clear')
    p
      button clear
  div(id='save')
    p
      button save
  div(id='load')
    p
      button load
